:root {
  --main-backround-color: #fff;
  --secondary-backround-color: #f5f4fa;
  --hero-footer-backround-color: #2f303a;

  --caption-text-color: #212121;
  --main-text-color: #757575;
  --hero-text-color: #fff;

  --accent-color: #2196f3;
}

body {
  background-color: var(--main-backround-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-decor {
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.hidden-caption {
  /* Убрать видимость семантического заголовка */
  text-align: center;
}

/* Общая секция */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Общий контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* OUTLINE */
  outline: 2px solid tomato;
}

/* Ссылки */
.logo-link {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-link {
  color: #000;
}

.footer-link {
  color: #fff;
}

.nav-link {
  color: var(--caption-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-header-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-style: normal; /* Необходимо для снятия italic от тега address */
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal; /* Необходимо для снятия italic от тега address */
  line-height: 1.71;
}

.geo-link {
  color: #fff;
  font-style: normal; /* Необходимо для снятия italic от тега address */
  line-height: 1.71;
}

.nav-link:hover,
.nav-link:focus,
.contact-header-link:hover,
.contact-header-link:focus,
.contact-footer-link:hover,
.contact-footer-link:focus,
.geo-link:hover,
.geo-link:focus {
  color: var(--accent-color);
}

/* Хедер */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Герой */
.hero {
  background-color: var(--hero-footer-backround-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-backround-color);
  color: var(--caption-text-color);
}

/* Особенности */
.features-caption {
  color: var(--caption-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
}

/* Общий заголовок */
.caption {
  color: var(--caption-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Чем мы занимаемся */
.work {
  padding-top: 0;
}

/* Команда */
.team {
  background-color: var(--secondary-backround-color);
}

.team-card {
  background-color: #fff;
  padding-bottom: 30px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-name {
  color: var(--caption-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Галерея */
.gallery-button {
  color: var(--caption-text-color);
  background-color: var(--secondary-backround-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
}

.gallery-button:hover,
.gallery-button:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.gallery-caption-group {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gallery-caption {
  color: var(--caption-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-type {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

/* Футер */
.footer {
  background-color: var(--hero-footer-backround-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-margin {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link-margin {
  display: inline-block;
  margin-bottom: 9px;
}
